@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #f5f6fa;
}
.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}
.wrapper .section .header{
    background: black;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}
.wrapper .section .header .logo h1{
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .header .navigation {
    float: right;
    height: 100%;
}
.wrapper .section .header .navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.wrapper .section .header .navigation a li{
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.wrapper .sidebar{
    background: dimgrey;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.body-text {
    margin-left: 150px;
    font-size: 18px;
}
table, tr, td, thead, tbody {display: block!important;}
tr {float: left!important; width: 50%!important;}
